.answer-details {
    max-width: 100%;
}

.answer-details-card {
    display: flex;
    padding: 1rem;
    border: 1px solid #444;
    max-width: 100%;
    min-height: 315px;
}

.answer-details .list-group-item {
    padding: .25rem;
}

.answer-details .list-group-item .term {
    margin-right: .5rem;
}

.card-body {
    display: flex;
    padding: 0;
    flex-direction: row;
    min-height: 190px;
}

.card-body .list-group {
    width: calc(100% - 215px);
}

@media (max-width: 1200px) {
    .answer-details-card {
        min-height: 333px;
    }
}

@media (max-width: 992px) {
    .card-body {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .card-body .list-group {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .card-text {
        text-align: center;
        margin: .5rem;
    }

    .answer-details-card {
        min-height: auto;
    }
}