.header {
    flex-direction: column;
}

.header ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

.header ul li {
    list-style: none;
    margin: 0;
    flex: auto;
    text-align: center;
}

.header a:hover {
    text-decoration: none;
}

.header h3 a {
    font-family: 'QTVagaRound', 'Arial', sans-serif;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}

.page-link {
    border-left: #000 1px solid;
}

.page-link:hover {
    background-color: #00bc8c;
    border-left: #000 1px solid;
}


.text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.active {
    background-color: #056c53;
}


.top-panel {
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 500px) {
    .header h3 a {
        font-size: 20px;
    }
}