
@font-face {
  font-family: 'Mansalva';
  src: local('Mansalva'), url('./assets/fonts/Mansalva-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'QTVagaRound';
  src: local('QTVagaRound'), url('./assets/fonts/QTVagaRoundBold.ttf');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
