.btn {
    width: 100%;
    color: white;
    background-color: dimgray;
}

.success {
    background-color: #00bc8c;
}

.answer-blocks {
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .answer-blocks {
        flex-direction: column;

    }
}